body,html {
    padding: 0;
    margin: 0;
    /* margin-left: auto; */
    /* text-align: center; */
}

body {
    width: 750px;
    margin: auto;
}

.a {
    font-size: 10px;
}
.b {
    width: 750px;
    height: 100px;
    background-color: #000;
}