input, button {
    outline: none;
    list-style: none;
    border: none;
}

body,html {
    padding: 0;
    margin: 0;
}
#app {
    width: 750px;
    height: 100%;
}
body {
    max-width: 750px;
    margin: auto;
}
#app>div::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-text-size-adjust: none;
}
.body {
    width: 750px;height: 100%;
}

::-webkit-scrollbar {
    width: 0 !important;
}
::-webkit-scrollbar {
    width: 0 !important;height: 0;
}

.main {
    width: 670px;
    padding: 0 40px;
}