input, button {
    outline: none;
    list-style: none;
    border: none;
}

body,html {
    padding: 0;
    margin: 0;
}

body {
    max-width: 750px;
    margin: auto;
}
#app>div::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-text-size-adjust: none;
}

